* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    color: $color-main;
}

a {
    display: block;
    text-decoration: none;
}

ul {
    li {
        list-style: none;
    }
}

body {
    font-family: $font-main;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: $fs-main;
    font-weight: normal;
    color: $color-main;
}

address {
    font-style: normal;
}