@mixin svg-icon_arrow_circle_gold {
	background: url("/src/assets/sprite/view/svg/sprite.view-cdfca449.svg") 25.96685082872928% 100% no-repeat;
}

@mixin svg-icon_arrow_circle_gold-dims {
	width: 11px;
	height: 18px;
}

@mixin svg-icon_arrow_circle_gray {
	background: url("/src/assets/sprite/view/svg/sprite.view-cdfca449.svg") 0 100% no-repeat;
}

@mixin svg-icon_arrow_circle_gray-dims {
	width: 11px;
	height: 18px;
}

@mixin svg-icon_burger_black {
	background: url("/src/assets/sprite/view/svg/sprite.view-cdfca449.svg") 0 88.15789473684211% no-repeat;
}

@mixin svg-icon_burger_black-dims {
	width: 24px;
	height: 16px;
}

@mixin svg-icon_burger_gray {
	background: url("/src/assets/sprite/view/svg/sprite.view-cdfca449.svg") 14.285714285714286% 88.15789473684211% no-repeat;
}

@mixin svg-icon_burger_gray-dims {
	width: 24px;
	height: 16px;
}

@mixin svg-icon_close_black {
	background: url("/src/assets/sprite/view/svg/sprite.view-cdfca449.svg") 16.666666666666668% 100% no-repeat;
}

@mixin svg-icon_close_black-dims {
	width: 18px;
	height: 18px;
}

@mixin svg-icon_close_gray {
	background: url("/src/assets/sprite/view/svg/sprite.view-cdfca449.svg") 6.32183908045977% 100% no-repeat;
}

@mixin svg-icon_close_gray-dims {
	width: 18px;
	height: 18px;
}

@mixin svg-icon_mail {
	background: url("/src/assets/sprite/view/svg/sprite.view-cdfca449.svg") 27.745664739884393% 88.15789473684211% no-repeat;
}

@mixin svg-icon_mail-dims {
	width: 19px;
	height: 16px;
}

@mixin svg-icon_phone {
	background: url("/src/assets/sprite/view/svg/sprite.view-cdfca449.svg") 97.72727272727273% 37.5% no-repeat;
}

@mixin svg-icon_phone-dims {
	width: 16px;
	height: 24px;
}

@mixin svg-icon_place {
	background: url("/src/assets/sprite/view/svg/sprite.view-cdfca449.svg") 0 0 no-repeat;
}

@mixin svg-icon_place-dims {
	width: 64px;
	height: 88px;
}

@mixin svg-icon_place_mini {
	background: url("/src/assets/sprite/view/svg/sprite.view-cdfca449.svg") 98.26589595375722% 61.111111111111114% no-repeat;
}

@mixin svg-icon_place_mini-dims {
	width: 19px;
	height: 24px;
}

@mixin svg-icon_place_small {
	background: url("/src/assets/sprite/view/svg/sprite.view-cdfca449.svg") 0 72.1311475409836% no-repeat;
}

@mixin svg-icon_place_small-dims {
	width: 34px;
	height: 46px;
}

@mixin svg-icon_refill {
	background: url("/src/assets/sprite/view/svg/sprite.view-cdfca449.svg") 47.712418300653596% 68.21705426356588% no-repeat;
}

@mixin svg-icon_refill-dims {
	width: 39px;
	height: 39px;
}

@mixin svg-icon_refill_small {
	background: url("/src/assets/sprite/view/svg/sprite.view-cdfca449.svg") 86.50306748466258% 63.30935251798561% no-repeat;
}

@mixin svg-icon_refill_small-dims {
	width: 29px;
	height: 29px;
}

@mixin svg-icon_repairs {
	background: url("/src/assets/sprite/view/svg/sprite.view-cdfca449.svg") 22.22222222222222% 68.21705426356588% no-repeat;
}

@mixin svg-icon_repairs-dims {
	width: 39px;
	height: 39px;
}

@mixin svg-icon_repairs_small {
	background: url("/src/assets/sprite/view/svg/sprite.view-cdfca449.svg") 68.71165644171779% 63.30935251798561% no-repeat;
}

@mixin svg-icon_repairs_small-dims {
	width: 29px;
	height: 29px;
}

@mixin svg-logo {
	background: url("/src/assets/sprite/view/svg/sprite.view-cdfca449.svg") 100% 0 no-repeat;
}

@mixin svg-logo-dims {
	width: 54px;
	height: 54px;
}

@mixin svg-logo_medium {
	background: url("/src/assets/sprite/view/svg/sprite.view-cdfca449.svg") 54.23728813559322% 0 no-repeat;
}

@mixin svg-logo_medium-dims {
	width: 74px;
	height: 74px;
}

@mixin svg-logo_small {
	background: url("/src/assets/sprite/view/svg/sprite.view-cdfca449.svg") 87.34177215189874% 40.298507462686565% no-repeat;
}

@mixin svg-logo_small-dims {
	width: 34px;
	height: 34px;
}

