//ALSRubl
[am-rubl] {
    font-family: ALSRubl;
}

//ORDER
@for $i from 1 through 60 {
    [order="#{$i}"] {
        order: #{$i};
    }
}


//BORDER-RADIUS
@for $i from 1 through 5 {
    [am-rounded='#{$i}'] {
        border-radius: #{$i}px;
    }
}



//VISIBILITY
[hidden] {display: none!important;}
[visible] {display: initial!important;}
[visible="block"] {display: block!important;}
[visible="inline-block"] {display: inline-block!important;}
[visible="flex"] {display: flex!important;}


//MEDIA
@media (max-width: $lg) {
    @for $i from 1 through 60 {
        [order-lg="#{$i}"] {
            order: #{$i};
        }
    }

    [hidden-lg] {display: none!important;}
    [visible-lg] {display: initial!important;}
    [visible-lg="block"] {display: block!important;}
    [visible-lg="inline-block"] {display: inline-block!important;}
    [visible-lg="flex"] {display: flex!important;}
}

@media (max-width: $md) {
    @for $i from 1 through 60 {
        [order-md="#{$i}"] {
            order: #{$i};
        }
    }

    [hidden-md] {display: none!important;}
    [visible-md] {display: initial!important;}
    [visible-md="block"] {display: block!important;}
    [visible-md="inline-block"] {display: inline-block!important;}
    [visible-md="flex"] {display: flex!important;}
}

@media (max-width: $sm) {
    @for $i from 1 through 60 {
        [order-sm="#{$i}"] {
            order: #{$i};
        }
    }

    [hidden-sm] {display: none!important;}
    [visible-sm] {display: initial!important;}
    [visible-sm="block"] {display: block!important;}
    [visible-sm="inline-block"] {display: inline-block!important;}
    [visible-sm="flex"] {display: flex!important;}
}