*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #404040;
  font-family: 'Segoe UI', sans-serif, Arial, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}