*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #404040;
  font-family: 'Segoe UI', sans-serif, Arial, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

.accordion-menu {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 50px auto;
}

.accordion-header {
  background-color: #f3f3f3;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.accordion-header:hover {
  background-color: #cecece;
}

.accordion-header.active {
  background-color: #cecece;
  cursor: pointer;
}

.accordion-body {
  padding-left: 25px;
  background-color: #f3f3f3;
}

.accordion-button {
  position: relative;
  width: 30px;
  height: 30px;
}

.accordion-button::after {
  content: '';
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: absolute;
  right: 10px;
  top: calc(50% - 4px);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.accordion-header.active .accordion-button::after {
  content: '';
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  right: 10px;
  top: calc(50% - 4px);
}

.grid-example {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(29, 51, 196, 0.74);
}

.grid-example .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.grid-example .row .col {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
  max-width: 100%;
  padding: 10px 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.grid-example .block {
  background-color: #fff;
  border-radius: 2px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #182996;
}

.col-example {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: rgba(29, 51, 196, 0.74);
}

.col-example .block {
  background-color: #fff;
  border-radius: 2px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #182996;
  min-height: 50px;
}

.col-example .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.col-example .row .col {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
  max-width: 100%;
  padding: 10px 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.m-top {
  margin-top: -10px;
}

.m-bottom {
  margin-bottom: -10px;
}

.m-left {
  margin-left: -15px;
}

.m-right {
  margin-right: -15px;
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }

  .accordion-menu {
    max-width: 720px;
  }

  .grid-example {
    max-width: 720px;
  }

  .grid-example .column-left {
    max-width: calc(8.33333333% * 6);
    -ms-flex-preferred-size: calc(8.33333333% * 6);
    flex-basis: calc(8.33333333% * 6);
  }

  .grid-example .column-left .left-row-1 > .col {
    max-width: calc(8.33333333% * 6);
    -ms-flex-preferred-size: calc(8.33333333% * 6);
    flex-basis: calc(8.33333333% * 6);
  }

  .grid-example .column-left .left-row-2 > .col {
    max-width: calc(8.33333333% * 12);
    -ms-flex-preferred-size: calc(8.33333333% * 12);
    flex-basis: calc(8.33333333% * 12);
  }

  .grid-example .column-right {
    max-width: calc(8.33333333% * 6);
    -ms-flex-preferred-size: calc(8.33333333% * 6);
    flex-basis: calc(8.33333333% * 6);
  }

  .grid-example .column-right .right-row-2 > .col {
    max-width: calc(8.33333333% * 12);
    -ms-flex-preferred-size: calc(8.33333333% * 12);
    flex-basis: calc(8.33333333% * 12);
  }

  .col-example {
    max-width: 720px;
  }

  .col-example .row.col-sm .col {
    max-width: calc(8.33333333% * 3);
    -ms-flex-preferred-size: calc(8.33333333% * 3);
    flex-basis: calc(8.33333333% * 3);
  }
}

@media (min-width: 992px) {
  body {
    font-size: 17px;
  }

  .accordion-menu {
    max-width: 960px;
  }

  .grid-example {
    max-width: 960px;
  }

  .grid-example .column-left .left-row-2 > .col {
    max-width: calc(8.33333333% * 6);
    -ms-flex-preferred-size: calc(8.33333333% * 6);
    flex-basis: calc(8.33333333% * 6);
  }

  .grid-example .column-right .right-row-2 > .col {
    max-width: calc(8.33333333% * 6);
    -ms-flex-preferred-size: calc(8.33333333% * 6);
    flex-basis: calc(8.33333333% * 6);
  }

  .col-example {
    max-width: 960px;
  }

  .col-example .row.col-md .col {
    max-width: calc(8.33333333% * 6);
    -ms-flex-preferred-size: calc(8.33333333% * 6);
    flex-basis: calc(8.33333333% * 6);
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 18px;
  }

  .accordion-menu {
    max-width: 1170px;
  }

  .grid-example {
    max-width: 1170px;
  }

  .col-example {
    max-width: 1170px;
  }

  .col-example .row.col-lg .col {
    max-width: calc(8.33333333% * 12);
    -ms-flex-preferred-size: calc(8.33333333% * 12);
    flex-basis: calc(8.33333333% * 12);
  }
}

@media (max-width: 767px) {
  body {
    font-size: 15px;
  }

  .accordion-menu {
    max-width: 520px;
  }

  .grid-example {
    max-width: 520px;
  }

  .grid-example .column-right {
    margin-top: -20px;
  }

  .col-example {
    max-width: 520px;
  }

  .col-example .row.col-xs .col {
    max-width: calc(8.33333333% * 6);
    -ms-flex-preferred-size: calc(8.33333333% * 6);
    flex-basis: calc(8.33333333% * 6);
  }
}